<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>テイクアウト注文</title>
</head>

<body>
	<div>
		<label for="name">
			お名前　：<input type="text" id="name" />
		</label>
		<br />
		<label for="phone">
			電話番号：<input type="tel" id="phone" />
		</label>
	</div>
	<br />

	<hr>

	<table id="tbl">
		<tr>
			<th></th>
			<th>名称</th>
			<th>価額</th>
			<th>数量</th>
		</tr>
		<tr th:each="item:${items}">
			<td th:data-id="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:data-price="${item.price}" th:text="${item.price}"></td>
			<td><input type="number" /></td>
		</tr>
	</table>

	<hr>

	<h3>
		総合計：<span id="totalPrice">0</span>
	</h3>

	<button type="button" id="orderBtn">注文する</button>

	<script th:inline="javascript">

		document.addEventListener('DOMContentLoaded', function (e) {

			let result = '[[${result}]]';

			if (result !== 'null' && result.length > 0) {
				confirm(result);
			}

			let tbl = document.getElementById('tbl');
			let html = '';

			tbl.addEventListener('change', function (e) {
				if (e.target.nodeName === 'INPUT') {
					let inputArr = [];
					let inputs = document.querySelectorAll('#tbl input');

					for (input of inputs) {
						if (input.value > 0) {
							inputArr.push(input);
						}
					}

					let total = 0;
					let tdArr = [];
					html = '';

					inputArr.forEach((input, index) => {
						let tr = input.closest('tr');
						let tds = tr.childNodes;

						for (td of tds) {
							if (td.nodeType === Node.ELEMENT_NODE) {
								tdArr.push(td.dataset);
							}
						}

						let merged = Object.assign({}, ...tdArr);
						let {itemId, price}  = merged;
						let quantity = input.value;
						total += price * quantity;
						document.getElementById('totalPrice').textContent = total;

						html +=
							`
							<input type="hidden" name="orders[${index}].itemId" value="${itemId}" />
							<input type="hidden" name="orders[${index}].quantity" value="${quantity}" />
							`;
					});
				}
			});

			let orderBtn = document.getElementById('orderBtn');
			orderBtn.addEventListener('click', function () {
				let form = document.createElement("form");
				form.action = '/order';
				form.method = 'post';
				let name = document.getElementById('name').value;
				let phone = document.getElementById('phone').value;
				html += `
				<input type="hidden" name="name" value="${name}" />
				<input type="hidden" name="phone" value="${phone}" />
				`;
				form.innerHTML = html;

				let body = document.getElementsByTagName("body")[0];
				body.appendChild(form);
				form.submit();
				body.removeChild(form);
			}, false);

		}, false); // DOMContentLoaded

	</script>
</body>

</html>